<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="defaultStatementTimeout" value="3"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="ArrayTypeHandler" type="com.eqdushu.server.mapper.typeHandler.ArrayTypeHandler" />
	</typeAliases>

	<typeHandlers>
		<package name="com.eqdushu.server.mapper.typeHandler" />
	</typeHandlers>
</configuration>