<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eqdushu.server.mapper.reward.UserRewardMapper">

	<!-- 配置 产品 sqlMap -->
	<resultMap id="userRewardMap" type="com.eqdushu.server.domain.reward.UserReward">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="asset" property="asset" jdbcType="DOUBLE" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="base_column_list">
		id,user_id,type,address,asset,create_time,update_time
	</sql>
	
	<sql id="insert_column_list">
		user_id,type,address,asset,create_time,update_time
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.eqdushu.server.domain.reward.UserReward">
		insert into t_user_reward(
		<include refid="insert_column_list" />
		)values
		(#{userId,jdbcType=BIGINT},#{type,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
		#{asset,jdbcType=DOUBLE},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<update id="update" parameterType="com.eqdushu.server.domain.reward.UserReward">
		update t_user_reward
		<set>
			<if test="asset != null">
				asset = #{asset},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<select id="getById" resultMap="userRewardMap" parameterType="java.lang.Long">
		select
		<include refid="base_column_list" />
		from t_user_reward where id=#{id}
	</select>

	<select id="getByUserId" resultMap="userRewardMap" parameterType="java.lang.Long">
		select
		<include refid="base_column_list" />
		from t_user_reward where user_id=#{userId}
	</select>
	
	<select id="listByUserIds" resultMap="userRewardMap" parameterType="java.util.List">
		select
		<include refid="base_column_list" />
		from t_user_reward where user_id in
		<foreach item="item" index="index" collection="uids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
</mapper>
